html, body {
  margin: 0px;
  height: 100%;
}

.chart-container {
  position: relative;
  height: 200px;
}

.text-truncate{
  direction: rtl;
  text-align: left;
}
@media only screen and (max-width: 600px) {
  .auto-column{
    flex-direction: column;
  }
}